<div>
  <h4>Created Power <%= @power['id'] %></h4>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Ability</th>
    </tr>
    <tr>
      <td><%= @power['id'] %></td>
      <td><%= @power['ability'] %></td>
    </tr>
  </table>
</div>